body{
    margin: 0px;
}

main{
   
   margin-left: 20px;
   margin-right: 20px;
}

h1{
    text-align: center;
}

.navbar ul{
    
    list-style-type: none;
    background-color: hsl(0, 0%, 23%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
   

}

.navbar a{
    color: hsl(0, 0%, 100%);
    display: block;
    padding: 0px;
    margin: 0px;
    padding: 15px;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 0%);
}

.navbar li{
    float: left;
}