body{
    margin: 0;
}
.Box{
    width: 250px;
    height: 250px;
    border: 3px solid ;
    font-size: 15em;
    text-align: center;
    transform: translatex(100px) rotatez(45deg) scale(0.5);
}

#Box1{
   
    background-color: hsl(0, 100%, 50%);
    
    
}

#Box2{
   
    background-color: hsl(155, 100%, 50%);
    
    
}

#Box3{
   
    background-color: hsl(111, 66%, 40%);
    
    
}


