body{

    background-color: hsl(0, 17%, 98%);
}

@font-face{
    src: url(open sans.ttf);
    font family: "open sans";
}
h1{
    font-family: verdana, Arial;
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    border:5px solid hsl(99, 94%, 56%);
    border-radius: 10px;
    color: hsl(304, 85%, 52%);
}

p{
    font-family: open sans, "courier New";
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    border-top: 4px solid hsl(0, 90%, 57%);
    border-bottom: 4px solid hsl(180, 83%, 68%);
    border-left: 4px solid hsl(300, 79%, 25%);
    border-right: 4px solid hsl(60, 88%, 61%);
    border-radius: 10px;
    color: hsl(0, 89%, 18%)
}

h2{
    font-size: xx-large;
    text-shadow: 3px 3px 5px hsl(0, 76%, 51%),-3px -3px 5px hsl(189, 76%, 51%);
}

#box1{
    width: 100px;
    height: 100px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 3px 3px 5px;

}